<div class="row">
  <div class="large-12 columns"><h1><%= current_user.name %></h1><% if current_user.brewery_name? %><h4><%= current_user.brewery_name %>, since <%= current_user.founding_date %></h4><% end %></div>
  <hr>
</div>

<!-- Current Batches -->
<!-- TODO: set this to check if any batch is current fermenting -->
<% if current_user %>
<div class="row">
  <h3>Batches in Production</h3>
  <hr>

<table>
  <thead>
    <tr>
      <th>Batch</th>
      <th>Brew Date</th>
      <th>Progress</th>
      <th>Bottling Date</th>
    </tr>
  </thead>
  <tbody>
  <% @batches.each do |batch| %>
  <tr>
    <td colspan="4">
      <%= batch.beer.name %>
    </td>
  </tr>
  <tr>
    <td>
      <%= batch.name %>
    </td>
    <td>
      <%= batch.brew_date %>
    </td>
    <td>
        <div class="progress small-#">
        <!-- TODO: compare current date against brew date and lengths. See status -->
          <span class="meter" style="width: <%= flatten(batch.bottling_date) %>%"></span>
        </div>
    </td>
    <td>
      <%= batch.bottling_date %>
    </td>
  </tr>
  <% end %>
  </tbody>
</table>


</div>
<% end %>
<!-- End Current Batches -->