<div class="row">
  <div class="row">
    <div class="large-12 columns"><h2><%= @beer.name %></h2></div> 
  </div>

  <hr>

  <div class="row">
    <div class="large-9 columns large-centered">
    <h2 class="grey_background">Entry</h2>
        <%= form_for @beer do |f| %>
          <%= f.label :name %>
          <%= f.text_area :name %>

          <%= f.label :description %>
          <%= f.text_area :description %>

          <%= f.label :beer_style %>
          <%= f.text_field :beer_style %>

          <%= f.label :regionalstyle %>
          <%= f.collection_select(:regional_style_id, Regionalstyle.all, :id, :name, prompt: true) %> 

          <%= f.label :country_style %>
          <%= f.text_field :country_style %>  

          <%= f.label :color %>
          <%= f.text_field :color %>  

          <%= f.label :original_gravity %>
          <%= f.number_field :original_gravity %> 

          <%= f.label :time_to_make %>
          <%= f.number_field :time_to_make %>

          <%= f.label :time_unit %>
          <%= f.select(:time_unit, ["Weeks", "Months", "Years"]) %>

          <%= f.label :image_url %>
          <%= f.text_field :image_url %>

          <%= f.label :recipe_link %>
          <%= f.text_area :recipe_link %>

          <button class="button small success">Commit</button> 

        <% end %>

        <div class="panel">
          <h5>Delete Beer</h5>
          <p><%= button_to "Delete", destroy_beer_path(@beer), :data => { :confirm => "Are you sure?" }, :method => :delete, class: "button tiny alert" %></p>
        </div>

    </div>
  </div>
</div>