<div class="row">
  <div class="row">
    <div class="large-12 columns"><h2><%= @batch.name %></h2></div> 

  <hr>

<!-- Interpage Nav Bar Start -->

  <div data-magellan-expedition="fixed">
    <dl class="sub-nav">
      <dd data-magellan-arrival="beer_options"><a href="#beer_options">Beers</a></dd>
      <dd data-magellan-arrival="fermentable_options"><a href="#fermentable_options">Fermentables</a></dd>
      <dd data-magellan-arrival="hop_options"><a href="#hop_options">Hops</a></dd>
      <dd data-magellan-arrival="yeast_options"><a href="#yeast_options">Yeast</a></dd>
      <dd data-magellan-arrival="specialty_options"><a href="#specialty_options">Specialty</a></dd>
    </dl>
  </div>

</div>

<!-- Interpage Nav Bar End -->



  <dl class="accordion" data-accordion>
    <dd>
      <a href="#beer_options"><h2 data-magellan-destination="beer_options">Beer Information</h2></a>
      <div class="content active" id="beer_options">
        <h3><%= @batch.beer.name %></h3>
        <strong>Description</strong>
        <p><%= @batch.beer.description %></p>

        <table>
          <thead>
            <tr>
              <th>Style</th>
              <th>Color</th>
              <th>Typical O.G.</th>
              <th>Time to Make</th>
              <% if @batch.beer.regionalstyle %>
                <th>Regional Style</th>
              <% else %>
                <th>Country Style</th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= @batch.beer.beer_style %></td>
              <td><%= @batch.beer.color %></td>
              <td><%= @batch.beer.original_gravity %></td>
              <td><%= @batch.beer.time_to_make %> <%= @batch.beer.time_unit %></td>
              <% if @batch.beer.regionalstyle %>
                <td><%= @batch.beer.regionalstyle %></td>
              <% else %>
                <td><%= @batch.beer.country_style %></td>
              <% end %>
            </tr>
          </tbody>
        </table>

        <a href="<%= @batch.beer.recipe_link %>" class="button tiny">Recipe</a>
      </div>
    </dd>

<!-- Batch Edit Form Start -->
<%= form_for @batch  do |f| %>
    <dd>
      <a href="#fermentable_options"><h2 data-magellan-destination="fermentable_options">Fermentables</h2></a>
      <div id="fermentable_options">
        <table>
          <% Fermentable.all.each do |fermentable| %>
          <tr>
            <%= f.fields_for "fermentable_#{fermentable.id}", nil, {} do |builder| %>
              
              <td><%= builder.check_box :used %></td>

              <td><strong><%= fermentable.name %></strong></td>

              <td><%= builder.text_field :quantity, :placeholder => "Quantity" %></td>
              
              <td><%= builder.text_field :unit_measure, :placeholder => "Unit measure" %></td>
              
              <td><%= builder.text_field :minutes_in_boil, :placeholder => "Minutes in boil" %></td>

              <%= builder.hidden_field :fermentable_id, :value => fermentable.id  %>

            <% end %>
          </tr>
          <% end %>
          </table>
      </div>
    </dd>

    <dd>
      <a href="#hop_options"><h2 data-magellan-destination="hop_options">Hops</h2></a>
      <div id="hop_options">
        <table>
        <% Hop.all.each do |hop| %>
        <tr>
          <%= f.fields_for "hop_#{hop.id}", nil, {} do |builder| %>

            <td><%= builder.check_box :used %></td>

            <td><strong><%= hop.name %></strong></td>

            <td><%= builder.text_field :quantity, :placeholder => "Quantity" %></td>
            
            <td><%= builder.text_field :unit_measure, :placeholder => "Unit measure" %></td>
            
            <td><%= builder.text_field :minutes_in_boil, :placeholder => "Minutes in boil" %></td>
            
            <td><%= builder.text_field :alpha_acid, :placeholder => "Alpha acid %" %></td>
            
            <td><%= builder.text_field :beta_acid, :placeholder => "Beta acid %" %></td>
  
            <%= builder.hidden_field :hop_id, :value => hop.id  %>
          <% end %>
        </tr>
        <% end %>
        </table>
      </div>
    </dd>

    <dd>
      <a href="#yeast_options"><h2 data-magellan-destination="yeast_options">Yeast</h2></a>
      <div id="yeast_options">
        <table>
          <% Yeast.all.each do |yeast| %>
          <tr>
            <%= f.fields_for "yeast_#{yeast.id}", nil, {} do |builder| %>
              
              <td><%= builder.check_box :used %></td>

              <td><strong><%= yeast.name %></strong></td>

              <td><%= builder.text_field :quantity, :placeholder => "Quantity" %></td>
              
              <td><%= builder.text_field :unit_measure, :placeholder => "Unit measure" %></td>
              
              <td>
                <%= builder.label :starter %>
                <%= builder.check_box :starter %> 
                <%= builder.label :starter, "Yes", class: 'starter' %>
              </td>

              <%= builder.hidden_field :yeast_id, :value => yeast.id  %>

            <% end %>
          </tr>
          <% end %>
          </table>
      </div>
    </dd>

    <dd>
      <a href="#specialty_options"><h2 data-magellan-destination="specialty_options">Specialty Items</h2></a>
      <div id="specialty_options">
        <table>
        <% Specialty.all.each do |specialty| %>
        <tr>
          <%= f.fields_for "specialty_#{specialty.id}", nil, {} do |builder| %>

            <td><%= builder.check_box :used %></td>

            <td><strong><%= specialty.name %></strong></td>

            <td><%= builder.text_field :quantity, :placeholder => "Quantity" %></td>
            
            <td><%= builder.text_field :unit_measure, :placeholder => "Unit measure" %></td>
            
            <td><%= builder.text_field :minutes_in_kettle, :placeholder => "Minutes in kettle" %></td>
            
            <td><%= builder.text_field :purpose, :placeholder => "Purpose" %></td>
  
            <%= builder.hidden_field :specialty_id, :value => specialty.id  %>
          <% end %>
        </tr>
        <% end %>
        </table>
      </div>
    </dd>
  <%= f.submit :id => "float_nav_right", :class => "button small" %>
<% end %>
<!-- Batch Edit Form End -->

  </dl>
</div>