<div class="row">
    <div class="row">
      <div class="large-12 columns"><h2><%= @item.name %></h2></div> 
    </div>
    <hr>

  <!-- Information Container Start -->
  <ul class="large-block-grid-2 no-bullet">
    
      <!-- Left block -->
      <li class='left-block'>
        <table>
          <thead>
            <tr>
              <th colspan="2"><h2 class="technicals-header"><small>Technicals</small></h2></th>
            </tr>
          </thead>
          <tbody>
            <% @item.attributes.each do |k,v| %>
            <tr>
              <td class="header"><%= k.humanize %></td>
              <td><%= v %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </li>

      <!-- Right Block -->
      <li class='right-block'>
        <div class="large-12 columns">
          <table>
            <thead>
              <tr>
                <th colspan="2"><h2 class="technicals-header"><small>Hops</small></h2></th>
              </tr>
            </thead>
            <tbody>
              <% @item.hops.each do |hop| %>
              <tr>
                <td><%= hop.name %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="large-12 columns">
          <h3 class="subheader">Edit</h3>
          <hr>
          <a href="<%= edit_batch_path %>" class="button small">Edit Batch</a>
        </div>
      </li>
    
  </ul>
  <!-- Information Container End -->

</div>