<!DOCTYPE html>
<html>
<head>
  <title>Carboy</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<nav>
  <span><a href=<%= beers_path %>>Beers</a></span> |
  <span><a href=<%= batches_path %>>Batches</a></span> |
  <span><a href=<%= fermentables_path %>>Fermentables</a></span> |
  <span><a href=<%= hops_path %>>Hops</a></span> |
  <span><a href=<%= yeasts_path %>>Yeast</a></span> |
  <span><a href=<%= specialties_path %>>Specialty Items</a></span>
</nav>

<%= yield %>

</body>
</html>
