<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Carboy</title>

    <%= stylesheet_link_tag    "application", "style" %>
    <%= javascript_include_tag :defaults, "vendor/modernizr", "js/jquery.js", "js/foundation/foundation.js", "js/foundation/foundation.magellan.js" %>
    <%= csrf_meta_tags %>
  </head>

  <body class="container">

<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><a href="<%= root_path %>">Carboy</a></h1>
    </li>
  </ul>

  <section class="top-bar-section">
    <!-- Left Nav Section -->
    <% if user_signed_in? %>
      <ul class="left">
        <li><a href=<%= beers_path %>>Beers</a></li>
        <li><a href=<%= batches_path %>>Batches</a></li>
        <li class="has-dropdown">
          <a href="#">Ingredients</a>
          <ul class="dropdown">
              <li><a href=<%= fermentables_path %>>Fermentables</a></li>
              <li><a href=<%= hops_path %>>Hops</a></li>
              <li><a href=<%= yeasts_path %>>Yeast</a></li>
              <li><a href=<%= specialties_path %>>Specialty Items</a></li>
          </ul>
        </li>
      </ul>
    
    <!-- End Left Nav Section -->

    <!-- Right Nav Section -->
    <ul class="right">
      <li class="has-dropdown">
          <a href="#">Account Settings</a>
          <ul class="dropdown">
            <li><%= link_to('Edit Account', edit_user_registration_path, method: :get) %></li>
            <li><%= link_to('Sign out', destroy_user_session_path, method: :delete) %></li>
          </ul>
      </li>
    </ul>
    <!-- End Right Nav Section -->
    <% end %>
  </section>
</nav>

  <div class="row">
    <p class="notice <% if notice %>success label<%end%>"><%= notice %></p>
    <p class="alert <% if alert %>success label<%end%>"><%= alert %></p>
  </div>


    <%= yield %>


    <%= javascript_include_tag "application" %>
  </body>
</html>